.Main {
   .container {
      max-width: 1250px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .content {
         display: flex;
         align-items: center;
         justify-content: space-between;
         margin-top: 200px;
         .right {
            width: 650px;
            margin-bottom: 60px;

            h1 {
               margin-bottom: 20px;
               font-size: 36px;
               font-weight: 600;
               color: rgb(3, 69, 66);
            }

            p {
               font-size: 18px;
               font-weight: 500;
               color: rgb(56, 55, 55);
               line-height: 150%;
            }
         }

         .left {
            img {
               width: 654px;
               height: 269px;
               margin-right: -70px;
            }

            .back_div {
               position: absolute;
               z-index: -1;
               right: 0;
               width: 608px;
               height: 396px;
               border-radius: 60px 2px 2px 60px;
               background: rgb(1, 83, 79);
               margin-top: -370px;
            }
         }
      }
   }
}
