.panel {
   --panel-w: 217px;
   --panel-max-height: 177dvh;
   border-right: 1px solid var(--gray);
   min-width: var(--panel-w);
   max-width: var(--panel-w);
   position: sticky;
   top: 0;
   &::-webkit-scrollbar {
      width: 0;
   }

   @media (max-width: 768px) {
      --panel-w: 100dvw;
      position: absolute;
      background: white;
      height: 100dvh;
      top: 0;
      left: 0;
      z-index: 100;
      padding: 39px 24px;
      .head {
         display: flex;
      }
      &:not(.om-parameters) {
         display: none;
      }
   }
}

.head {
   display: none;
}

.block {
   --block-py: 22px;
   --block-choose-ol-mw: 189px;
   padding: var(--block-py) 6px;
   border-bottom: 1px solid var(--gray);
}

.trigger {
   --trigger-gap: 5px;
   --trigger-font-size: 18px;
   --trigger-svg-size: 23px;
   display: flex;
   flex-direction: column;
   gap: var(--trigger-gap);
   span {
      font-size: var(--trigger-font-size);
      font-weight: 600;
   }
   svg {
      width: var(--trigger-svg-size);
      height: var(--trigger-svg-size);
   }
}

.f-block {
   @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
   @media (max-width: 650px) {
      grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width: 380px) {
      grid-template-columns: repeat(1, 1fr);
   }
}

.filter_block {
   --filter-bg: var(--white);
   position: sticky;
   flex-direction: row;
   top: 0;
   background-color: var(--filter-bg);
   @media (max-width: 768px) {
      display: none;
   }
}

.choose {
   --choose-mw: var(--block-choose-ol-mw);
   --choose-padding: 11px 18px;
   --choose-mt: 15px;
   --choose-svg-size: 18px;
   max-width: var(--choose-mw);
   padding: var(--choose-padding);
   border-radius: 10px;
   border: 1.3px solid var(--primary);
   margin-top: var(--choose-mt);
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: all 0.25s;
   input {
      font-size: 1em;
      font-weight: 600;
      width: 100%;
      text-align: left;
   }
   &:is(.active) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   }
   svg {
      width: var(--choose-svg-size);
   }
}

.optionsList {
   --options-mt: 9px;
   --options-mw: var(--block-choose-ol-mw);
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: var(--options-mt);
   max-width: var(--options-mw);
}

.option {
   --option-padding-y: 12px;
   --option-font-size: 16px;
   --option-line-height: 18px;
   padding: var(--option-padding-y) 0;
   font-size: var(--option-font-size);
   color: var(--black);
   line-height: var(--option-line-height);
   letter-spacing: -0.3px;
   vertical-align: middle;
   font-weight: 600;
   color: var(--text2);
   cursor: pointer;
   width: 100%;
   display: flex;
   justify-content: center;
   border-radius: 8px;
   transition: all 0.25s;
   &:hover {
      background-color: #f0f0f0;
   }
   &.active {
      background-color: var(--secondary);
      color: var(--white);
   }
}

@media (max-width: 768px) {
   .block {
      --block-py: 18px;
      --block-choose-ol-mw: 100%;
   }
   .trigger {
      --trigger-font-size: 16px;
      --trigger-svg-size: 20px;
   }
   .choose {
      --choose-padding: 9px 15px;
      --choose-mt: 12px;
      --choose-svg-size: 16px;
   }
   .option {
      --option-font-size: 14px;
      --option-line-height: 16px;
   }
}

@media (max-width: 480px) {
   .block {
      --block-py: 14px;
   }
   .trigger {
      --trigger-font-size: 14px;
      --trigger-svg-size: 18px;
   }
   .choose {
      --choose-padding: 7px 12px;
      --choose-mt: 10px;
      --choose-svg-size: 14px;
   }
   .option {
      --option-font-size: 12px;
      --option-line-height: 14px;
   }
}
