@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
   --font-family: 'Montserrat', sans-serif;
   --primary: #034542;
   --secondary: #157a75;
   --hover-secondary: rgb(43, 148, 143);
   --black: #000;
   --white: #fff;
   --hover-white: rgb(240, 240, 240);
   --gray: #6f6f6f;
   --gray2: #383737;

   --text: var(--black);
   --text2: #313144;

   // container
   --container-mw: 75%;
   --container-px: 0;
}
