@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
   --font-family: 'Montserrat', sans-serif;
   --primary: #034542;
   --secondary: #157a75;
   --black: #000;
   --white: #fff;
   --gray: #6f6f6f;

   --text: var(--black);
   --text2: #313144;
}
