.compareActions {
  --actions-margin-y: 27px 21px;
  --actions-gap: 24px;
  --button-padding: 6px 15px;
  --button-radius: 15px;

  margin: var(--actions-margin-y);
  display: flex;
  align-items: center;
  gap: var(--actions-gap);

  button {
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    color: var(--white);
    transition: all 0.25s;

    &:hover {
      transform: translateY(-1px);
    }
  }

  .add {
    background: #acacac;
  }

  .rmall {
    background: #dd6b73;
  }
}

@media (max-width: 768px) {
  .compareActions {
    --actions-margin-y: 20px 16px;
    --actions-gap: 16px;
  }
}
