.car {
   &.t-card {
      .card {
         width: 323px;
         height: 416px;
         padding: 10px 10px;
         box-shadow: 1px 4px 4px 0px rgba(83, 83, 83, 0.25);
         border-radius: 10px;
         img {
            width: 100%;
            height: 240px;
         }

         .card_content {
            padding: 9px 0;
            .car_specs {
               display: flex;
               align-items: center;
               padding: 5px 0;
               gap: 5px;

               p {
                  font-size: 17px;
                  font-weight: 500;
                  color: rgb(3, 69, 66);
               }

               .circle {
                  width: 5px;
                  height: 5px;
                  border-radius: 50%;
                  background: rgb(3, 69, 66);
               }
            }

            h3 {
               color: rgb(3, 69, 66);
               font-size: 18px;
               font-weight: 600;
            }
         }

         .buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
         }
      }
   }
   &.t-list {
      .card {
         width: 100%;
         height: 230px;
         padding: 14px 10px;
         box-shadow: 1px 4px 4px 0px rgba(83, 83, 83, 0.25);
         border-radius: 10px;

         display: flex;
         align-items: center;

         .card_img {
            img {
               width: 256px;
               height: 220px;
               border-radius: 10px;
            }
         }

         .left_cont {
            padding: 0 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 96px;

            .card_content {
               display: flex;
               justify-content: space-between;
               align-items: end;
               .card_title {
                  display: flex;
                  flex-direction: column;

                  .car_specs {
                     display: flex;
                     align-items: center;
                     gap: 5px;

                     p {
                        font-size: 17px;
                        font-weight: 500;
                        color: rgb(3, 69, 66);
                     }

                     .circle {
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background: rgb(3, 69, 66);
                     }
                  }
               }

               h3 {
                  color: rgb(3, 69, 66);
                  font-size: 18px;
                  font-weight: 600;
               }
            }
            .buttons {
               display: flex;
               align-items: center;
               justify-content: end;
               gap: 5px;
            }
         }
      }
   }
}
