.Main {
   .container {
      max-width: 1250px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;

      .content {
         .cards_for_compare {
            h1 {
               color: rgb(3, 69, 66);
               font-size: 36px;
               font-weight: 600;
            }
         }

         .tech_specs {
            h1 {
               color: rgb(3, 69, 66);
               font-size: 36px;
               font-weight: 600;
            }

            .table {
               width: 100%;
               border-collapse: collapse;
               margin-top: 10px;

               th,
               td {
                  border-bottom: 1px solid #ccc;
                  padding: 20px;
                  text-align: start;

                  p {
                     color: rgb(118, 118, 118);
                     font-size: 17px;
                     font-weight: 400;
                  }

                  span {
                     color: rgb(0, 0, 0);
                     font-size: 17px;
                     font-weight: 400;
                  }
               }

               th {
                  font-weight: bold;
               }

               tr:nth-child(even) {
               }
            }
         }
      }
   }
}
