.Header {
   width: 100%;
   background: rgb(1, 83, 79);
   .container {
      max-width: 1250px;
      width: 100%;
      margin: 0 auto;
      padding: 0 20px;
      .content {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 30px 0;

         .logo {
            img {
            }
         }

         .right_place {
            display: flex;
            align-items: center;
            gap: 110px;
            .nav {
                display: flex;
                align-items: center;
                gap: 30px;
                cursor: pointer;
             }
    
             .right {
                display: flex;
                align-items: center;
                gap: 50px;
    
                p {
                   font-size: 20px;
                   font-weight: 500;
                   color: white;
                   cursor: pointer;
                }
    
                select {
                   font-size: 20px;
                   font-weight: 500;
                   color: white;
                   cursor: pointer;
    
                   option {
                    background: rgb(1, 83, 79);
                   }
                }
    
                .jylas_logo {
                   display: flex;
                   flex-direction: column;
                   .top {
                      width: 84px;
                      height: 25px;
                   }
                   .bottom {
                      width: 84px;
                      height: 10px;
                   }
                }
             }
         }
      }
   }
}
