.button {
   font-weight: var(--font-weight, 500);
   padding: var(--padding-y) var(--padding-x);
   transition: all 0.25s;

   &.s-md {
      --padding-x: var(--padding-x-md, 38px);
      --padding-y: var(--padding-y-md, 10px);
   }

   &.s-lg {
      --padding-x: var(--padding-x-lg, 40px);
      --padding-y: var(--padding-y-lg, 14px);
   }

   &.v-solid {
      color: var(--color-white, var(--white));
      border-radius: var(--border-radius, 8px);
      &.c-primary {
         background: var(--background-primary, var(--primary));
      }
      &.c-secondary {
         background: var(--background-secondary, var(--secondary));
      }
      &.c-neutral {
         color: var(--color-neutral, var(--black));
         background: var(--background-neutral, rgb(240, 240, 240));
         &:hover {
            color: var(--color-neutral-hover, var(--black));
            background: var(--background-neutral-hover, rgb(235, 235, 235));
         }
      }
   }

   &.v-outline {
      border-radius: var(--border-radius, 8px);
      border: var(--border-width, 1px) solid transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--gap, 6px);
      &.c-primary {
         color: var(--outline-color-primary, var(--primary));
         border-color: var(--outline-border-primary, var(--primary));
      }
      &.c-secondary {
         color: var(--outline-color-secondary, var(--secondary));
         border-color: var(--outline-border-secondary, var(--secondary));
      }
      &.c-neutral {
         color: var(--outline-color-neutral, rgb(240, 240, 240));
         border-color: var(--outline-border-neutral, rgb(240, 240, 240));
      }
   }
}
